PORT=8787
RENDER_INTERVAL=60
BACKEND_RESTART_DELAY=5
# Usado somente pelo supervisor Node legado; o Electron usa seu Chromium interno.
CHROME=C:\Program Files\Google\Chrome\Application\chrome.exe
DASHBOARD_URL=http://<IP_DO_PC>:8787/dash.png
KINDLE_IP=<IP_DO_KINDLE>
KINDLE_PORT=22
KINDLE_USER=<USUARIO_SSH>
KINDLE_PW=<SENHA_SSH>
KINDLE_REFRESH_INTERVAL=45
KINDLE_FULL_REFRESH_EVERY=20
KINDLE_WIFI_RETRY_EVERY=3
